<div class="main">
  <div id="js-parallax-window" class="parallax-window">
    <div class="parallax-static-content">
      <profile info="profile"></profile>
    </div>
    <div id="js-parallax-background" class="parallax-background"></div>
  </div>
  <div class="portfolio">
    <h2 class="title"> My Portfolio </h2>
    <p class="info"> A chance for me to show you who I am, what I do, and how well I do it! <br><br><br></p>
    <div class="cards" ng-repeat="portfolio in portfolios">
      <card info="portfolio"></card>
    </div>
    <div class="social-media-icons">
      <div class="details">
        <h2 class="title"> My Contact Info </h2>
        <p class="info"> Feel free to contact me at any time using the any of the mediums below! <br><br><br></p>
      </div>
      <div class="icon" ng-repeat="icon in socialMedia">
        <social-media info="icon"></social-media>
      </div>
    </div>
  </div>
  <!-- Parallax Plugin -->
  <script src="js/shared/parallax.js"></script>
</div>
