<!DOCTYPE html>
<html ng-app="MyPage" ng-controller="SEOController" lang="en">
  <head>
    <base href="/">
    <meta name="fragment" content="!">
    <meta charset="utf-8">
    <title>Eric Adamski</title>
    <meta name="description" content="{{ seo.description | limitTo: 155 }}">
    <meta name="keywords" content="Eric Adamski, Computer Science Carleton, Web Design, Eric Adamski Ottawa, Distributed Algorithms">
    <link rel=”author” href=”https://plus.google.com/+EricAdamski“/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Chrome, Firefox OS, Opera and Vivaldi -->
    <meta name="theme-color" content="#FF9012">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#FF9012">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#FF9012">

    <link rel="icon" sizes="192x192" href="">

    <meta property="og:title" content="{{ seo.og.title }}">
    <meta property="og:type" content="{{ seo.og.type }}">
    <meta property="og:image" content="{{ seo.og.image }}">
    <meta property="og:url" content="{{ seo.og.url }}">
    <meta property="og:description" content="{{ seo.og.description }}">

    <meta property="fb:admins" content="{{ seo.facebook.uid }}">

    <meta name="twitter:card" content="{{ seo.twitter.summary }}">
    <meta name="twitter:url" content="{{ seo.twitter.url }}">
    <meta name="twitter:description" content="{{ seo.twitter.description }}">
    <meta name="twitter:image" content="{{ seo.twitter.image }}">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <link href="img/icons/octicons/octicons.css" rel="stylesheet" />

    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500' rel='stylesheet' type='text/css'>

    <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light|Permanent+Marker|Rock+Salt|Anonymous+Pro' rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="bower_components/bootstrap/dist/css/bootstrap.min.css">

    <link href="css/style.css" rel="stylesheet" />
    <link href="css/cards.css" rel="stylesheet" />
    <link href="css/sticky.css" rel="stylesheet" />
    <link href="css/social-media.css" rel="stylesheet" />
    <link href="css/resume.css" rel="stylesheet" />
    <link href="css/marking.css" rel="stylesheet" />
    <link href="stylesheets/home-video.css" rel="stylesheet"/>
    <link href="stylesheets/header.css" rel="stylesheet"/>
    <link href="stylesheets/intro-section.css" rel="stylesheet"/>
    <link href="stylesheets/project.css" rel="stylesheet"/>
  </head>
  <body data-spy="scroll" data-target="#header">

    <div ng-view></div>

    <!-- JQuery -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Transit -->
    <script src="js/shared/jquery.transit.min.js"></script>

    <!-- progressbar.js -->
    <script src="bower_components/progressbar.js/dist/progressbar.min.js"></script>

    <!-- bootstrap -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <!-- Include the core AngularJS library -->
    <script src="bower_components/angular/angular.min.js"></script>

    <!-- Include the AngularJS routing library -->
    <script src="bower_components/angular-route/angular-route.min.js"></script>

    <!-- Modules -->
    <script src="js/app.js"></script>

    <!-- Controllers -->
    <!-- <script src='js/controllers/MarkingController.js'></script> -->
    <script src='js/controllers/HomeController.js'></script>
    <script src='js/controllers/ContactController.js'></script>
    <script src='js/controllers/ResumeController.js'></script>
    <script src='js/controllers/seo.js'></script>

    <!-- Services -->
    <script src='js/services/portfolio.js'></script>
    <script src='js/services/resume.js'></script>
    <script src='js/services/profile-service.js'></script>
    <!-- <script src='js/services/marking.js'></script> -->

    <!-- Directives -->
    <!-- <script src='js/directives/marking.js'></script> -->
    <script src='js/directives/card.js'></script>
    <script src='js/directives/profile.js'></script>
    <script src='js/directives/reference.js'></script>
    <script src='js/directives/skill.js'></script>
    <script src='js/directives/work-experience.js'></script>
    <script src='js/directives/education.js'></script>
    <script src='js/directives/social-media.js'></script>

    <!-- Shared JS -->
    <script src="js/shared/onload.js"></script>
  </body>
</html>
