$anim-speed: 0.3s;

$card-height: 30%;
$card-width: 30vw;

$shrink: 820px;

.cards {
  display: inline-block;
  padding: 3%;
  vertical-align: middle;
	text-align: center;
  position: relative;

  @media screen and (max-width: $shrink) {
    width: 100vw;
    display: block;
  }

  .logo-container {
    position: absolute;
    left: 50%;
    bottom: 30%;

    .logo {
      z-index: 100;
      color: white;
      position: relative;
      background: transparent;

      left: -50%;
      bottom: -30%;

      border-radius: 100%;
      font-size: 1000%;

      @media screen and (max-width: $shrink) {
        font-size: 750%;
      }

      transition: all .4s ease-in-out;
      -webkit-transition: all .4s ease-in-out;
    }
  }

	.card {
    height: $card-height;
    min-height: $card-width;
    width: $card-width;

    text-decoration: none;

    display: inline-block;
		margin: 10px;
		text-align: left;
		opacity: .99;
		overflow: hidden;
		position: relative;
		border-radius: 3px;
		box-shadow: 0 0 20px 0 rgba(0,0,0,.05);

    @media screen and (max-width: $shrink) {
      width: 80vw;
      height: 80vw;
    }

		&:before {
			content: '';
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
			width: 100%;
			height: 50%;
			opacity: 0;
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 2;
			transition-property: top, opacity;
			transition-duration: $anim-speed;
		}

		.img {
			display: inline-block;
      background: repeat;
      height: $card-height;
      width: $card-width;
      min-height: $card-width;

      @media screen and (max-width: $shrink) {
        width: 100vw;
        height: 100vw;
      }

      transition: all .4s ease-in-out;
      -webkit-transition: all .4s ease-in-out;
		}

		.details {
      max-height: 50%;
      height: 50%;
			font-size: 16px;
      font-weight: lighter;
			padding: 20px;
			color: #fff;
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 3;

			span {
				display: block;
				opacity: 0;
				position: relative;
				top: 100px;
				transition-property: top, opacity;
				transition-duration: $anim-speed;
				transition-delay: 0s;
			}

			.title {
				line-height: 1;
				font-weight: lighter;
				font-size: 36px;
			}

			.info {
        display: inline;
				line-height: 1.2;
				margin-top: 5px;
				font-size: 18px;
        border: none;
			}
		}

		&:hover {

			&:before,
			span {
				opacity: 1;
			}

			&:before {
				top: 50%;
			}

			span {
				top: 0;
			}

      .logo {
        transform: translateY(-500%);
        text-decoration: none;
      }

			.title {
				transition-delay: 0.15s;
			}

			.info {
				transition-delay: 0.25s;
			}

      .img {
        transform: scale(1.2);
      }
		}
	}
}
