@import 'default';

.__header {
  width     : 100%;
  position  : fixed;
  z-index   : 1000000000;
  height    : 70px;
  font-size : 1.5em;
  background: rgba(white, 0.99);
  transition: all 0.3s ease;
  box-shadow: 0 1px 4px transparent;

  &.active {
    font-size : 1.25em;
    height    : 50px;
    box-shadow: 0 1px 4px rgba($grey, 0.3);
  }

  .__header-nav {
    padding        : 0;
    margin         : 0 auto;
    width          : 70%;
    height         : 100%;
    display        : flex;
    flex-direction : row;
    flex-wrap      : nowrap;
    align-items    : center;
    justify-content: flex-end;
    position       : relative;
    flex-direction : row;

    .__header-image {
      height    : 150%;
      min-height: 100px;
      width     : 75px;
      position  : absolute;
      left      : 0;
      top       : 0;
      margin-top: 10px;
      padding   : 5px;
      border    : 6px solid black;
      background: url('../img/stardust.png') repeat, rgba(black, 0.5);

      .fill {
        transition: all 1s ease;
        background: $green;
      }

      .char {
        position      : absolute;
        top           : 0;
        padding-top   : 15px;
        text-transform: capitalize;
        font-size     : 2em;
        left          : 50%;
        transform     : translate3d(-50%, 0, 0);
        line-height   : 1;
        font-family   : 'Rock Salt', cursive;
        color         : white;

        &:after {
          display      : block;
          content      : '';
          border-bottom: 2px solid $green;
          height       : 25px;
        }
      }
    }

    li {
      position  : relative;
      overflow  : hidden;
      visibility: hidden;
      @media only screen and (min-width: 600px) {
        visibility: visible;
      }

      &.active {
        &:after {
          left: 50%;
        }
      }

      &:after {
        display   : block;
        position  : absolute;
        bottom    : 0;
        left      : -500px;
        transform : translate3d(-50%, 0, 0);
        width     : 80%;
        height    : 3px;
        background: $yellow;
        content   : '';
        transition: all 0.4s linear;
      }

      a {
        position      : relative;
        color         : black;
        text-transform: lowercase;
        margin        : 0 10px;
        padding       : 0 5px;
        border-left   : 5px solid transparent;

        &:active,
        &:focus,
        &:hover {
          border-color   : $green;
          text-decoration: none;
        }
      }
    }
  }
}
